language: java
sudo: false
script: ./gradlew clean test build
jdk:
  - oraclejdk8
  - oraclejdk9
env:
  global:
    - BINTRAY_USER=BINTRAY_USER
    - BINTRAY_KEY=BINTRAY_KEY
    - scrapperPassphrase=scrapperPassphrase
    - jSuplaPassphrase=jSuplaPassphrase
    - serverPassphrase=serverPassphrase
    - nettyServerPassphrase=nettyServerPassphrase
    - nettyTestPassphrase=nettyTestPassphrase
    - protocolPassphrase=protocolPassphrase
    - protocolJavaPassphrase=protocolJavaPassphrase
